.title {
    background-color: #061339;
    padding-left: 25%;
}

.title > h3 {
    color: #ffffff;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: auto;
    margin-bottom: 0px;
}

.bandeau {
    background-image: url("fac_exo_depart-master/img/background.jpg");
    height: 10%;
    padding-top: 70px;
    text-align: center;

}

.bandeau > h1 {
    margin-top: 0px;
    padding-bottom: 40px;
    color: #ffffff;
}